/* шрифти: Roboto 400 500 700 900, Raleway(лого) 700 */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-text-color: #212121;
  --main-focus-text-blue: #2196f3;
  --main-white-color: #ffffff;
  --color-contact: #757575;
  --color-footer: #2f303a;
  --color-bg-btn: #f5f4fa;
  --icons-main: rgba(175, 177, 184, 1);
}
/* загальне до всіх сторінок застосовується */
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
}
[href] {
  text-decoration: none;
}
.list-none {
  list-style-type: none;
}
/* ----------------------------------------------------------- */

/* лого */

.logo-header {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-footer > span {
  color: var(--main-focus-text-blue);
}
.logo-footer {
  color: var(--main-white-color);
}
.logo-header > span {
  color: var(--main-focus-text-blue);
}
.logo-header {
  color: var(--main-text-color);
  margin-right: 93px;
}
.header .container {
  display: flex;
}
.header nav {
  display: flex;
}
.header nav li:not(:last-child) {
  margin-right: 50px;
}
.hdr-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.hdr-contact li:not(:last-child) {
  margin-right: 50px;
}

.hdr-header {
  display: flex;
  align-items: center;
}
.cap,
.cap.current {
  display: block;
  position: relative;
}
.hdr-contact .contact {
  display: block;
}
.bg-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* вибрана сторінка, постійно підсвічується в меню */
.cap.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-focus-text-blue);
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}
.hdr-header .cap.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-focus-text-blue);
}
.hdr-header .cap {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: var(--main-text-color);
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hdr-header .cap:hover,
.hdr-header .cap:focus,
.hdr-header .cap:active {
  color: var(--main-focus-text-blue);
}

/* меню */
.hdr .cap {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: var(--main-text-color);
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hdr .cap:hover,
.hdr .cap:focus,
.hdr .cap:active {
  color: var(--main-focus-text-blue);
}
/* телефон та мейл в header і footer */
.contact-adress {
  display: block;
  color: var(--main-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-adress:hover,
.contact-adress:focus {
  color: var(--main-focus-text-blue);
}

.hdr-contact .contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hdr-contact .contact:hover,
.hdr-contact .contact:focus,
.hdr-contact .contact:active {
  color: var(--main-focus-text-blue);
}

.hdr .contact {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hdr .contact:hover,
.hdr .contact:focus,
.hdr .contact:active {
  color: var(--main-focus-text-blue);
}
.contacts-list .contact {
  display: flex;
  align-items: center;
}
.icons-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icons-tel {
  margin-right: 10px;
  fill: currentColor;
}

/* головна сторінка */
.bg-main {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--color-footer);
  color: var(--main-white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-main.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-tittle {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  text-align: center;
  margin-bottom: 30px;
}
/* кнопка на головній */
.btn-main {
  display: block;
  text-align: center;
  background-color: var(--main-focus-text-blue);
  color: var(--main-white-color);
  border-color: var(--main-focus-text-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  font-family: inherit;
  border-radius: 4px;
}
.benefits h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
}
.benefits p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  width: 270px;
  height: 75px;
}
.benefits {
  display: flex;
}
.benefits li:not(:last-child) {
  margin-right: 30px;
}
.benefits-tittle {
  margin-bottom: 10px;
}
.benefits-example {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--color-bg-btn);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(..//images/clock.svg);
}
.icon-diagram::before {
  background-image: url(..//images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(..//images/astronaut.svg);
}
.examples-section {
  padding-bottom: 94px;
}

.examples-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.examples-list-link:hover,
.examples-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-list-link:hover .examples-list-cover-text {
  transform: translateY(0);
}
.examples-list-link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list-wrap {
  position: relative;
  overflow: hidden;
}
.examples-list-cover-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-examples {
  display: flex;
}
.work-examples-item:not(:last-child) {
  margin-right: 30px;
}
.work-examples-item {
  position: relative;
}

.work-examples-top-text {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  width: 100%;
  height: 70px;
  color: var(--main-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team h3 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.what-we-do {
  margin-bottom: 50px;
}
.work-team {
  display: flex;
}
.about-team:not(:last-child) {
  margin-right: 30px;
}

.about-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-bottom: 16px;
}
.work-team-soc-list {
  display: flex;
  justify-content: center;
}
.work-team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.work-team-soc-item:last-child {
  margin-right: 0px;
}
.work-team-soclink {
  width: 100%;
  height: 100%;
  background-color: var(--main-white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-team-soclink-icon {
  fill: var(--icons-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-team-soclink:hover,
.work-team-soclink:focus {
  background-color: var(--main-focus-text-blue);
}
.work-team-soclink:hover .work-team-soclink-icon {
  fill: var(--main-white-color);
}
.regular-customers {
  display: flex;
  justify-content: space-between;
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--main-focus-text-blue);
}
.customers-list-link:hover .custumers-list-icon,
.customers-list-link:focus .custumers-list-icon {
  fill: var(--main-focus-text-blue);
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custumers-list-icon {
  fill: var(--icons-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-tittle {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.regular-clients {
  padding: 94px 0px;
}
.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.bg-footer {
  background-color: var(--color-footer);
  color: var(--main-white-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.bg-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-flex.contacts-icon {
  margin-left: 70px;
}
.footer-contacts-list {
  display: flex;
}
.work-footer-soc-item {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.contact-soclink-icon {
  fill: var(--main-white-color);
}

.work-footer-soclink:hover .contact-soclink-icon {
  fill: var(--main-white-color);
}
.work-footer-soclink:hover,
.work-footer-soclink:focus {
  background-color: var(--main-focus-text-blue);
}
.work-footer-soclink {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-footer-soc-item:not(:last-child) {
  margin-right: 10px;
}
.subscribe-block {
  margin-left: auto;
}
.subscribe-block-tittle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe-block-icon {
  margin-left: 10px;
}
.subscribe-block-button {
  height: 50px;
  width: 200px;
  margin-left: 12px;
  background-color: var(--main-focus-text-blue);
  color: var(--main-white-color);
  border-radius: 4px;
  border-color: var(--main-focus-text-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-footer);
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:hover {
  cursor: pointer;
}
.subscribe-input:focus,
.subscribe-input:active {
  cursor: text;
}
.modal-filling {
  padding: 40px;
}
.modal-filling-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
  text-align: center;
}

.modal-filling-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-filling-input:hover {
  cursor: pointer;
}
.modal-filling-input:focus,
.modal-filling-input:active {
  cursor: text;
}
.modal-filling-input:focus {
  border-color: var(--main-focus-text-blue);
}
.modal-filling-input:focus + .modal-filling-icon {
  fill: var(--main-focus-text-blue);
}

.form-modal-filling {
  margin-bottom: 10px;
}
.form-modal-filling:focus .modal-filling-icon {
  fill: var(--main-focus-text-blue);
  border-color: var(--main-focus-text-blue);
}
.modal-filling-label-wrap {
  margin-bottom: 4px;
}
.modal-filling-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-filling-comment:hover {
  cursor: pointer;
}
.modal-filling-comment:focus {
  border-color: var(--main-focus-text-blue);
  cursor: text;
}
.modal-filling-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  display: block;
  color: var(--color-contact);
}
.terms-tittle {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-tittle::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  border-radius: 2px;
}

.modal-filling-checkbox:checked + .terms-tittle::before {
  background-color: var(--main-focus-text-blue);
  background-image: url(../images/confirm.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-filling-link-terms {
  color: var(--main-focus-text-blue);
  text-decoration: underline;
  margin-left: 4px;
}
.modal-filling-submit {
  background-color: var(--main-focus-text-blue);
  color: var(--main-white-color);
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--main-focus-text-blue);
}
.modal-filling-flex-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-wrap {
  position: relative;
}
.modal-filling-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap-checkbox {
  margin-bottom: 30px;
}
/* потфоліо сторінка */

/* кнопки на сторінці портфоліо */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-color: transparent;
  background: var(--color-bg-btn);
  color: var(--main-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  width: auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus,
.btn:active {
  color: var(--main-white-color);
  background-color: var(--main-focus-text-blue);
  border-radius: 4px;
  font-family: inherit;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.menu-btn li:not(:last-child) {
  margin-right: 8px;
}
.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.examples li:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.examples h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.portfolio-examles-discraption p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

.portfolio-examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-examles-discraption {
  padding: 20px 24px;
}
.portfolio-examles-discraption {
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.work-team-discraption {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
}

.bg-footer .hdr li:not(:last-child) {
  margin-bottom: 9px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 300ms linear;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: rotate(45deg);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  fill: var(--main-focus-text-blue);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
