.btn-main {
  width: 200px;
  height: 50px;
  background-color: var(--main-focus-text-blue);
  color: var(--main-white-color);
  border-color: var(--main-focus-text-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-submit {
  @extend .btn-main;
}
.subscribe-block-button {
  @extend .btn-main;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: 12px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-color: transparent;
  background: var(--color-bg-btn);
  color: var(--main-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  width: auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active {
    color: var(--main-white-color);
    background-color: var(--main-focus-text-blue);
    border-radius: 4px;
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
