.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  & > span {
    color: var(--main-focus-text-blue);
  }
}
.logo__header {
  @extend .logo;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--main-text-color);
  margin-right: 93px;
}
.logo__footer {
  @extend .logo;
  color: var(--main-white-color);
  margin-bottom: 20px;
}
